In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2021-03-29 02:12:23,-21.2000,-175.2000,84.20,79,20,11.50
1,1,San Patricio,US,2021-03-29 02:12:24,28.0170,-97.5169,62.60,67,90,12.66
2,2,Punta Arenas,CL,2021-03-29 02:12:24,-53.1500,-70.9167,39.20,75,0,5.75
3,3,Pokrovskoye,RU,2021-03-29 02:12:24,47.4157,38.8971,39.83,86,98,5.37
4,4,Hasaki,JP,2021-03-29 02:12:25,35.7333,140.8333,68.00,82,75,3.44

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
                                                     
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [11]:
# Filter the dataset to find the cities that fit the criteria using loc method
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2021-03-29 02:12:23,-21.2000,-175.2000,84.20,79,20,11.50
6,6,Touros,BR,2021-03-29 02:12:26,-5.1989,-35.4608,78.80,89,75,4.61
7,7,Rikitea,PF,2021-03-29 02:12:26,-23.1203,-134.9692,79.75,71,1,15.05
12,12,Benguela,AO,2021-03-29 02:12:28,-12.5763,13.4055,74.91,87,100,4.74
19,19,Atuona,PF,2021-03-29 02:08:51,-9.8000,-139.0333,80.96,75,71,15.77
25,25,Bengkulu,ID,2021-03-29 02:12:33,-3.8004,102.2655,80.62,80,62,4.65
30,30,Yokadouma,CM,2021-03-29 02:12:35,3.5167,15.0500,70.57,85,14,1.68
37,37,Ipojuca,BR,2021-03-29 02:12:37,-8.3989,-35.0639,75.20,88,75,2.30
40,40,Kanniyakumari,IN,2021-03-29 02:12:38,8.0833,77.5667,82.15,75,40,5.61
41,41,Itoman,JP,2021-03-29 02:12:38,26.1247,127.6694,77.00,88,75,6.91

In [12]:
preferred_cities_df.count()

City_ID       203
City          203
Country       203
Date          203
Lat           203
Lng           203
Max Temp      203
Humidity      203
Cloudiness    203
Wind Speed    203
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0           Vaini      TO     84.20 -21.2000 -175.2000
6          Touros      BR     78.80  -5.1989  -35.4608
7         Rikitea      PF     79.75 -23.1203 -134.9692
12       Benguela      AO     74.91 -12.5763   13.4055
19         Atuona      PF     80.96  -9.8000 -139.0333
25       Bengkulu      ID     80.62  -3.8004  102.2655
30      Yokadouma      CM     70.57   3.5167   15.0500
37        Ipojuca      BR     75.20  -8.3989  -35.0639
40  Kanniyakumari      IN     82.15   8.0833   77.5667
41         Itoman      JP     77.00  26.1247  127.6694

In [44]:

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": f"{lat},{lng}"
}


# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

    except (IndexError):
    
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [47]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Vaini,TO,84.20,-21.2000,-175.2000,Keleti Beach Resort
6,Touros,BR,78.80,-5.1989,-35.4608,INN NEW HORIZON
7,Rikitea,PF,79.75,-23.1203,-134.9692,Pension Maro'i
12,Benguela,AO,74.91,-12.5763,13.4055,Hotel Praia Morena
19,Atuona,PF,80.96,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...
567,Guangyuan,CN,71.01,32.4420,105.8230,Guangyuan Poetry Hotel
568,Saint-Georges,GD,80.60,12.0564,-61.7485,Siesta Hotel
569,Punalur,IN,84.20,9.0000,76.9333,Motel Araam
573,Port Keats,AU,82.69,-14.2500,129.5500,TDC Village (Hundred Man Camp)
575,Jala,MX,77.00,21.0833,-104.4333,"""CASA CORITA"""

In [48]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)


marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [50]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))