## Deliverable 3. Create a Travel Itinerary Map.

In [204]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [205]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../""Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Bambous Virieux,MU,84.00,broken clouds,-20.3428,57.7575,Casa Tia Villa
1,8,Mahebourg,MU,78.80,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,9,Beira,MZ,72.95,few clouds,-19.8436,34.8389,Beira Terrace Hotel
3,10,Saint-Philippe,RE,80.60,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
4,11,Poum,NC,77.72,overcast clouds,-20.2333,164.0167,Gîte kajeon

In [206]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations_df = vacation_df[["Lat", "Lng"]]

In [207]:
locations_df

         Lat       Lng
0   -20.3428   57.7575
1   -20.4081   57.7000
2   -19.8436   34.8389
3   -21.3585   55.7679
4   -20.2333  164.0167
..       ...       ...
192   4.8845   -1.7554
193 -21.5667  165.4833
194  -4.3589  -39.3117
195  30.3833   78.4833
196   6.3005  -10.7969

[197 rows x 2 columns]

In [208]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations_df, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [164]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Cabo San Lucas"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Cabo San Lucas"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Ixtapa"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Acapulco"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Caborca"]

vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
165,581,Caborca,MX,71.01,few clouds,30.5838,-111.101,Hotel Los Lagos

In [209]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (22.8909, -109.9124)
#s1 = pd.Series(start)#.to_numpy()
                       
end = (22.8909, -109.9124) 
#end = pd.Series(end).to_numpy()

stop1 = (20.7, -105.2)
#s2 = pd.Series(stop1)#.to_numpy()
stop2 = (16.8634, -99.8901)
#stop1 = pd.Series(stop1).to_numpy()




stop3 = (30.5838, -111.101)
#stop3 = pd.Series(stop3).to_numpy()

In [203]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".


#start = (22.8909, -109.9124)
#end = (22.8909, -109.9124) 

itinerary_df = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode='DRIVING')
fig.add_layer(itinerary_df)
fig

Figure(layout=FigureLayout(height='420px'))

In [211]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
s1 = vacation_start
s2 = vacation_stop1
s3 = vacation_stop2
s4 = vacation_stop3
itinerary_df = pd.concat([s1, s2, s3, s4], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,200,Cabo San Lucas,MX,73.00,overcast clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
1,48,Ixtapa,MX,71.01,clear sky,20.7000,-105.2000,Hotel Plaza Providencia
2,513,Acapulco,MX,79.39,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
3,581,Caborca,MX,71.01,few clouds,30.5838,-111.1010,Hotel Los Lagos

In [212]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [213]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))